<h2>Welcome to Pizza Shop</h2>

<div class="row">
    <% @products.each do |p| %>
        <div class="col-md-3">
            <p><%=p.title%></p>
            <img style="width: 250px" src="<%=p.path_to_image%>"/>
            <p>Price: <%=p.price%> RUB</p>
            <p>Size: <%=p.size%> CM</p>
            <button class="btn btn-sm btn-success" onclick="add_to_card(<%= p.id %>)">Add to card</button>
        </div>
        
    <% end %>
</div>


<button class="btn btn-primary btn-lg" onclick="cart_get_number_of_items()">Click me</button>

